  $inter: "Inter", system-ui, sans-serif;
  $roboto: "Roboto", system-ui, sans-serif;
  $roboto-mono: "Roboto Mono", system-ui, sans-serif;
  $cairo: "Cairo", system-ui, sans-serif;
  $sans:  "Open Sans", system-ui, sans-serif;

  $color-black: #161919;
  $color-white: #FFFFFF;
  $color-gray-dark: #404040;
  $color-gray: #999999;
  $color-gray-light: #ECECEB;
  $color-gray-3: #B2B3B9;
  $color-gray-2: #ECECEB;

  $text-black: #222222;
  $text-gray: #999999;

  $color-dark-blue: #515161;
  $color-soft-green: #EBF3EA;
  $color-white-theme-gray: #969B9F;
  $color-black-alt: #202020;
  $color-black-secondary: #333333;
  $color-light-gray: #EDEDED;
  $color-red: #F11010;
  $color-blue-primary: #242EDB;
  $color-blue-secondary: #367AFF;
  $color-indigo: #3C538E;
  $color-light-indigo: #797FEA;
  $color-gray-medium: #505050;
  $color-gray-alt: #9C9C9C;
  $color-gray-light-alt: #C4C4C4;
  $color-gray-soft: #C9C9C9;
  $color-gray-extra-soft: #CACACA;
  $color-gray-extra-light: #E0E0E0;
  $color-gray-lighter: #E2E2E2;
  $color-gray-faint: #EBEBEB;
  $color-white-light: #F3F3F3;
  $color-white-lighter: #F6F6F6;
  $color-white-soft: #F9F9F9;

  $gradient-dark: linear-gradient(180deg, #232323 0%, #232323 6%);
  $gradient-white: linear-gradient(180deg, #FFFFFF 0%, #FFFFFF 12%);
  $gradient-dark-alt: linear-gradient(180deg, #232323 3%, #232323 0%);
  $gradient-gray-50: linear-gradient(180deg, rgba(237, 237, 237, 1) 0%, #23232300 70%);
  $gradient-light-gray-50: linear-gradient(180deg, #23232308 0%, #23232300 50%);
  $gradient-light-gray-70: linear-gradient(180deg, #EDEDED 70%, #EDEDED 0%);
  $gradient-light-gray-100: linear-gradient(180deg, #EDEDED 100%, #EDEDED 0%);