.button {
    background-color: #242EDB !important;
    box-shadow: 0px 8px 8px 0px rgba(54, 122, 255, 0.03),inset 0px -2px 0px 1px rgba(0, 0, 0, 0.08);
    background: linear-gradient(0.00deg, rgba(255, 255, 255, 0) 0%,rgba(255, 255, 255, 0.12) 100%),rgba(36, 46, 219, 1);
}