.input {
    background-color: $color-white-light;
    padding: 0 20px !important;
    border-radius: 8px !important;
    fieldset {
        border: none !important;
    }
}

.endadornment:hover {
    cursor: pointer;
}