.dialog {
    display: flex;
    flex-direction: column;
    align-items: space-between;
    justify-content: space-between;
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 400px;
}

.actions {
    padding: 0 24px 16px 24px !important;
}

.addButton {
    border-radius: 6px !important;
    background-color: $color-blue-primary !important;
    height: 42px !important;
    box-shadow: none !important;
}
.buttonContent {
    display: flex;
    align-items: center;
    gap: 16px;
}